@charset "UTF-8";
/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: #B59CA5;
    color: #2E2528;
}
/* Título */

h1 {
    transition: color 0.3s ease;
}

h1:hover {
    color: #6B3FA0;
}

/* Texto */

p {
    transition: color 0.3s ease;
}

p:hover {
    color: #6B3FA0;
}
/* Texto */

p {
    transition: color 0.3s ease;
}

p:hover {
    color: #6B3FA0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #2E2528;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #6B3FA0;
}
.presentacion {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.tarjeta {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #D8C8CE;
    border-radius: 15px;
    transition: 0.3s;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #6B3FA0;
}

.tarjeta img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.tarjeta h2 {
    color: #2E2528;
    transition: 0.3s;
}

.tarjeta:hover h2 {
    color: #6B3FA0;
}
