@charset "UTF-8";
/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;

    background: linear-gradient(-45deg,
        #B59CA5,
        #8E6A7A,
        #D7C4CB,
        #6B4A5A);

    background-size: 400% 400%;
    animation: fondo 15s ease infinite;

    color: #2E2528;
}
/* Título */

h1 {
    transition: color 0.3s ease;
}

h1:hover {
    color: #6B3FA0;
}

/* Texto */

p {
    transition: color 0.3s ease;
}

p:hover {
    color: #6B3FA0;
}
/* Texto */

p {
    transition: color 0.3s ease;
}

p:hover {
    color: #6B3FA0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #2E2528;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #6B3FA0;
}
.presentacion {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.tarjeta {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #D8C8CE;
    border-radius: 15px;
    transition: 0.3s;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #6B3FA0;
}

.tarjeta img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.tarjeta h2 {
    color: #2E2528;
    transition: 0.3s;
}

.tarjeta:hover h2 {
    color: #6B3FA0;
}
/* Adaptación para celulares */

@media (max-width: 700px) {

    body {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 28px;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .presentacion {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tarjeta {
        width: 90%;
        max-width: 300px;
    }

    .tarjeta img {
        width: 110px;
        height: 110px;
    }

    ul {
        padding: 0;
        text-align: center;
    }
}
@keyframes fondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.horarios {
    margin-top: 40px;
    text-align: center;
}

.horarios h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.semana {
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;
    transition: 0.3s;
}

.semana:hover {
    transform: scale(1.03);
    background: rgba(255,255,255,0.35);
}

.nota {
    margin-top: 15px;
    font-style: italic;
}
.informacion {
    max-width: 700px;
    margin: 40px auto;
    padding: 25px;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

.informacion h2 {
    color: #6B3FA0;
}

.informacion h3 {
    margin-top: 25px;
}

.informacion p {
    line-height: 1.6;
}

.respeto {
    font-weight: bold;
    margin-top: 25px;
}
